html 
{
    background: #99f98c;
    font-family: 'Alegreya', serif;
	font-size : 20px;
	color : #5C4252;
}

.my-flex-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.my-flex-block {
    width: 800px;
}

.my-flex-block > img
{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.my-flex-block > p{
    text-align: justify;
    text-indent: 20px;
    margin: 0px;
}

.my-flex-block > form 
{
    display: block;
    text-align: left;
    font-size : 24px;
    margin-top: 60px;
}

.my-flex-block > form > input
{
    width: 100px;
    background: #44b436;
    border: none;
    border-bottom: none;
    margin-left: 10px;
    font-size : 24px;
    size: 30px;
}

.my-flex-block > form > input + span {
    padding-right: 30px;
}
  
.my-flex-block > form > input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}
  
.my-flex-block > form > input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}

.my-flex-block > form > button
{
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: -60px;
}

button[type="submit"] 
{
    margin-top: 30px;
	background-color: #99f98c;
	cursor: pointer;
	border: none;
	border-bottom: none;
}

button, 
button:active, 
button:focus {
    outline: none;
}

#back
{
    display: initial;
    margin-top: 70px;
}

#start
{
    align-items: flex-end;
    margin-top: -75px;
}

#exit
{
    align-items: flex-end;
    margin-top: -75px;
}

#main
{
    display: initial;
    margin-top: 70px;    
}

#timer
{   
    margin-left: 310px;
    font-size: 80px;
}

#Page1{
    display: block;
}

#Page2{
    display: none;
}

#Page3{
    display: none;
}

#message
{
    font-size: 30px;
    margin-left: 295px;
}